/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    width: auto;
    height: auto;
}

label {
    font-weight: bold;
}

.form-input {
    margin-bottom: 1rem;
}